{% extends "base.html" %}

{% block css_and_scripts %}
<style>
  li {
  list-style-type: none;
  }
  #cluster_control, #map_wrapper, #simulation_control {
    display: none;
  }
</style>
{% end %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Goals</h2>
      <p>
      The goal of Simba (SIMulation of Bike Availability) is to develop a tool that 
      bikeshare network managers can use to find arrangements
      of stations that fit their needs. 
      </p>
      <h2>Who are we?</h2>
      <p>
        <ul>
          <li><b>Daniel Alabi</b> would probably be a Gryffindor. He is looking forward to sharing bikes.</li>
          <li><b>Mikenna Everett</b> has four eyes, but only when she's wearing glasses. She lives in the present.</li>
          <li><b>Carissa Knipe</b> has a deceptively spelled last name. Despite having the same initials as Carlton Keedy, her name is not alliterative. She fondly recalls pudding.</li>
          <li><b>Will Martin</b> also has a deceptive last name -- a homophone of marten, a mustelid. You should google them because they are pretty cute. So is Will.</li>
          <li><b>Carlton Keedy</b> is not Carleton College. But at least he is also alliterative.</li>
          <li><b>Jonathan Ahn</b> does not want to share.</li>
        </ul>
      </p>
    </div>
  </div>
{% end %}

