{% extends "base.html" %}

{% block css_and_scripts %}
<style>
  li {
  list-style-type: none;
  }
</style>
{% end %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Goals</h2>
      <p>
      The goal of this Comps project is to ultimately develop a tool that 
      bikeshare network managers can use to find arrangements
      of stations that fit their needs. 
      </p>
      <h2>People</h2>
      <p>
        <ul>
          <li>Daniel Alabi</li>
          <li>Mikenna Everett</li>
          <li>Carissa Knipe</li>
          <li>Will Martin</li>
          <li>Carlton Keedy</li>
          <li>Jonathan Ahn</li>
        </ul>
      </p>
    </div>
  </div>
{% end %}

