<!DOCTYPE html>
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" style="height: 100%;"> <!--<![endif]-->
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/bikeshare-custom.css">

  <script type="text/javascript" src="/static/js/bikeshare-custom.js">
    <!--Modernizr.js-->
    <script src="/static/js/vendor/custom.modernizr.js"></script>
    <script src="/static/development-bundle/jquery-1.9.1.js"></script>
    {% block css_and_scripts %}{% end %}
  </head>
  
  <body onresize="set_map_height(); set_stats_panel_height()">
    <nav class="top-bar" data-top-bar>
      <section class="top-bar-section">
      <ul class="title-area">
        <div id="topbar-left-logo"><a href="/"><img src="/static/img/simbaLogo-320.png" /></a></div>
      </ul>
      
        <!-- Left Nav Section -->
		<div class="left" id="simulation_control">
			<form id="control_form" onsubmit="processStatsForm(); return false;">
                <div id="from_div">
                    <input type="text" id="from_date" placeholder="Start Date">
                </div>
                <div id="to_div">
                    <input type="text" id="to_date" placeholder="End Date">
                </div> 
                <button type="submit" id="submit">Go!</button>
            </form> 
        </div>

        <div class="left" id="cluster_control">
			<div id="cluster_by_txt">Cluster stations by:</div>
			<form id="control_form" onsubmit="clusterColors(); return false;">
				<select id="clustering_method">
					<option></option>
					<option>Trip counts</option>
					<option>Hours of high traffic</option>
				</select>
				<button type="submit" id="submit">Cluster</button>
			</form>
        </div>
        
        <!-- Right Nav Section -->
        <ul class="right">
        <li><a href="/clustering">Clustering Tool</a></li>
	      <li><a href="/about">About</a></li>
        </ul>      
      </section>
    </nav>
    
    <div id="content">
      {% block content %}{% end %}
    </div>
   
    <script src="/static/js/foundation.min.js"></script>
    
    <script>
      $(document).foundation();
    </script>
	<script>
		$('#from_date, #to_date').datetimepicker({
			closeOnDateSelect: true,
			yearStart: 2010,
			yearEnd: 2015,
			format: 'Y-m-d H:i'
		});
	</script> 
  </body>
</html>
