{% extends "base.html" %}

{% block css_and_scripts %}

<!--Google Maps API v3-->
<style>
  html, body, #map-canvas {
  height: 600px;
  margin: 0px;
  padding: 0px;
  }
</style>

<style>
  #slider-range .ui-slider-range { background: #77aaff; }
  #slider-range .ui-slider-handle { background: #ddddff; }
  #slider-range .ui-slider-handle { hover: { background:;}
</style>

<!-- jQuery Slider script -->
<link href="/static/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
<link rel="stylesheet" href="/static/development-bundle/themes/base/jquery.ui.all.css">
<script src="/static/development-bundle/ui/jquery.ui.core.js"></script>
<script src="/static/development-bundle/ui/jquery.ui.widget.js"></script>
<script src="/static/development-bundle/ui/jquery.ui.mouse.js"></script>
<script src="/static/development-bundle/ui/jquery.ui.slider.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.js"></script>
<link rel="stylesheet" href="/static/development-bundle/demos/demos.css">
<script>
  $(function() {
    sliderSetup();
  });
</script>

<!-- Google Maps script -->    
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/static/js/bikeshare-googlemaps.js"></script>

<script type="application/javascript">
    set_coordinates("{{locations}}");
</script>


{% end %}

{% block content %}
<div class="panel" id="time-slider">
    <div class="large-10 columns">
        <div class="row">
            <div class="small-4 columns">
                <label class="inline">Simulate the traffic of</label>
            </div>
            <div class="small-3 columns">
                <select>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
                </select> 
            </div>
            <div class="small-2 columns">
                <label for="amount" class="right inline">Time:</label>
            </div>
            <div class="small-3 columns">
                <input type="text" id="amount" style="border:0; color#9900ff; font-weight:bold;" />
            </div>
        </div>
        <div class="row"><div id="slider-range"></div></div>
    </div>
    <div class="large-2 columns">
        <a href="#" class="button" id="trigger-button">Go!</a>
    </div>
</div>

<div class="full-width-wrapper">
  <div id="map-canvas">
  </div>
</div>



<div class="row">  
  <div class="columns">
    <!-- * Don't panic. Taking out the slider for testing purposes. - ahnjo
    
    -->
  </div>
</div>


<script src="/static/js/foundation.min.js"></script>

<script>
  $(document).foundation();
</script>

{% end %}
