{% extends "base.html" %}

{% block css_and_scripts %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" />
<script src="/static/js/jquery.datetimepicker.js"></script>
<script type="text/javascript">
  $(function() {
      $("#from_date, #to_date").datetimepicker({
          format: "Y-m-d H:i",
      });
  });
</script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
#from_div {
  float: left;
}
#to_div {
  margin-left: 50px;
  float: left;
}

form button[type="submit"] {
  margin-top: 20px;
  float: left; 
  clear: both;
}

#results {
  float: left;
  clear: both;
  display: none;
}

#results h4 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  text-align: center
}

.chart {
  background: #b0e0f8;
  margin: 5px;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text {
  fill: white;
}

.chart text.name {
  fill: #000;
}

#num_departures_per_station {
  margin-top: 30px;
}

#num_departures_per_station div {
  height: 300px;
  overflow:scroll;
}

#num_arrivals_per_station {
  margin-top: 30px;
}

#num_arrivals_per_station div {
  height: 300px;
  overflow:scroll;
}

#num_trips_per_hour {
  margin-top: 30px;
}

#num_trips_per_hour div {
  font: 10px sans-serif;
}

#num_trips_per_hour div
.axis path,
#num_trips_per_hour div
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#num_trips_per_hour .bar {
  fill: steelblue;
}

#num_trips_per_hour
.x.axis path {
  display: none;
}


#loading {
  display: none;
}

#overall_trip_stats {
  float: left;
  width: 36%;
}

#min_duration_trip {
  float: left;
  width: 32%;
  padding-left: 20px;
}

#max_duration_trip {
  float: right;
  width: 32%;
  padding-left: 20px;
}

</style>


{% end %}

{% block content %}
<div class="row">    
    <div class="large-12 columns">
      <h2>Summary Statistics</h2>
      <form onsubmit="processStatsForm(); return false;">
        <div id="from_div">
          <h4 class="subheader">From:</h4>
          <input type="text" id="from_date" />
        </div>
        <div id="to_div">
          <h4 class="subheader">To:</h4>
          <input type="text" id="to_date" />
        </div>
        <br />
        <button type="submit" class="button">Generate</button>
      </form>
      <div id="loading">
        <img src="/static/img/loading-gif-animation.gif" alt="loading" />
      </div>
      <div id="results">
        <h4></h4>
	<div class="row">
	<div id="overall_trip_stats">
        <h5>Overall Statistics</h5>
        <table>
          <tr>
            <td>Total Number of Trips Completed</td>
            <td id="total_num_trips"></td>
          </tr>
          <tr>
            <td>Total Number of Disappointments</td>
            <td id="total_num_disappointments"></td>
          </tr>
          <tr>
            <td>Average Trip Time</td>
            <td id="avg_trip_time"></td>
          </tr>
          <tr>
            <td>Standard Deviation of Trip Times</td>
            <td id="std_trip_time"></td>
          </tr>
        </table>
	</div>
        <div id="min_duration_trip">
          <h5>Minimum Duration Trip</h5>
          <table>
            <tr>
              <td>Start Station</td>
              <td class="start_station_name"></td>
            </tr>
            <tr>
              <td>End Station</td>
              <td class="end_station_name"></td>              
            </tr>
            <tr>
              <td>Duration</td>
              <td class="duration"></td>
            </tr>
            <tr>
              <td>Trip Start Time</td>
              <td class="start_datetime"></td>
            </tr>
            <tr>
              <td>Trip End Time</td>
              <td class="end_datetime"></td>
            </tr>
          </table>
        </div>
        <div id="max_duration_trip">
          <h5>Maximum Duration Trip</h5>
          <table>
            <tr>
              <td>Start Station</td>
              <td class="start_station_name"></td>
            </tr>
            <tr>
              <td>End Station</td>
              <td class="end_station_name"></td>              
            </tr>
            <tr>
              <td>Duration</td>
              <td class="duration"></td>
            </tr>
            <tr>
              <td>Trip Start Time</td>
              <td class="start_datetime"></td>
            </tr>
            <tr>
              <td>Trip End Time</td>
              <td class="end_datetime"></td>
            </tr>
          </table>
        </div>
	</div>
	<br />
        <div id="num_departures_per_station">
          <h5>Number of Departures per Station</h5>
          <div>
          </div>
        </div>
        <br />
        <div id="num_arrivals_per_station">
          <h5>Number of Arrivals per Station</h5>
          <div>
          </div>
        </div>
        <div id="num_trips_per_hour">
          <h5>Number of Trips per Hour</h5>
          <div>
          </div>
        </div>
      </div>
    </div>    
</div>
<br/><br/>
{% end %}

