{% extends "base.html" %}

{% block css_and_scripts %}

<style>
  #cluster_control {
    display: none;
  }
</style>

<!-- Datetime Pickers -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" />
<script src="/static/js/jquery.datetimepicker.js"></script>

<!-- D3.js  -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!-- jQuery -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Google Maps script -->    
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/static/js/bikeshare-googlemaps.js"></script>

<script type="application/javascript">
  set_coordinates("{{locations}}");
</script>

<script type="application/javascript">
    $(document).ready(function(){
        var flexy_tables = $(
            "#overall_trip_stats, \
             #disappointment_stats,\
             #min_duration_trip,\
             #max_duration_trip,\
             #comp_overall_trip_stats,\
             #comp_disappointment_stats,\
             #comp_min_duration_trip,\
             #comp_max_duration_trip"
        );

        $(".slide_button").click(function() {
            var slider = $("#stats_slider");
            var left_pos = parseInt(slider.css('left'),10);
            
            switch ($(this).attr('id')) {
                case "slide_button_1":
                    var speed = 400;
                    if (left_pos > 660) {speed = 600;}

                    slider.animate({left: '20px'},speed);
                    if (left_pos == 660) {map.panBy(320,0);}
                    break;
                
                case "slide_button_2":
                    slider.animate({left: '660px'},400);
                    $("#stats_panel").css('width', '640px');
                    flexy_tables.addClass('large-12');
                    flexy_tables.removeClass('large-6');
                    if (left_pos != 660) {
                        map.panBy(-320,0);
                    }
                    break;
                
                case "slide_button_3":
                    slider.animate({left: '50%'},600, function() {
                        $("#stats_panel").css('width', '100%');
                        flexy_tables.addClass('large-6');
                        flexy_tables.removeClass('large-12');
                        if (left_pos == 660) {map.panBy(320,0);}
                    });
                    break;
            }
        });

        $("#slide_button_1").hover(
            function() {$("#slide_button_1").css('background-color', '#3987c7');},
            function() {$("#slide_button_1").css('background-color', '#595959');}
        );

        $("#slide_button_2").hover(
            function() {
                $("#slide_button_1, #slide_button_2").css('background-color', '#3987c7');
            },
            function() {
                $("#slide_button_1, #slide_button_2").css('background-color', '#595959');
            });

        $("#slide_button_3").hover(
            function() {
                $(".slide_button").css('background-color', '#3987c7');
            },
            function() {
                $(".slide_button").css('background-color', '#595959');
            }); 
  });
</script>
{% end %}

{% block content %}
<div id="stats_wrapper">
  <div id="stats_slider">
      <div id="save_load_div">
          <button type="button" class="button tiny" id="load_stats" onclick="load_trans()">Load Results</button>
          <button type="button" class="button tiny" id="save_stats" onclick="save_trans()">Save Results</button>
          <button type="button" class="button tiny" id="comp_toggle" onclick="toggle_comps()">Compare Results</button>
          <input type="text" id="stats_namer" placeholder="Insert Name (and make it a good one!)"></input>
          <select id="stats_picker"></select>
      </div>
      
      <div id="stats_button">
          <div class="slide_button" id="slide_button_1" title="collapse"></div>
          <div class="slide_button" id="slide_button_2" title="half-screen"></div>
          <div class="slide_button" id="slide_button_3" title="full-screen"></div>
      </div>
      
      <div id="stats_panel">
	<div class="row" id="stats_name_div"><div class="large-12 columns">
	    <h3 id="stats_name">Run a simulation first!</h3><div id="stats_range">You are not even supposed to see this.</div>
	</div></div>
        <div class="row">
          <div class="large-12 columns" id="overall_trip_stats">
            <h5>Overall Statistics</h5>
            <table>
              <tr>
                <td>Number of Trips Completed</td>
                <td id="total_num_trips"></td>
              </tr>
              <tr>
                <td>Average Trip Time</td>
                <td id="avg_trip_time"></td>
              </tr>
              <tr>
                <td>Standard Deviation of Trip Times</td>
                <td id="std_trip_time"></td>
              </tr>
              <tr>
                <td>Arrival Prediction Accurracy: Manhattan Distance</td>
                <td id='man_dist_score_arr'></td>
              </tr>
              <tr>
                <td>Departure Prediction Accuracy: Manhattan Distance</td>
                <td id='man_dist_score_dep'></td>
              </tr>
              <tr>
                <td>Overall Prediction Accuracy: Euclidean Distance</td>
                <td id='eucl_dist_score'></td>
              </tr>
            </table>
          </div>
          <div class="large-12 columns" id="disappointment_stats">
            <h5>Disappointment Statistics</h5>
            <table>
              <tr>
                <td>Number of Disappointments</td>
                <td id="total_num_disappointments"></td>
              </tr>
              <tr>
                <td>Total Empty Station Station Disappointments</td>
                <td id="total_num_empty_disappointments"></td>
              </tr>
              <tr>
                <td>Total Full Station Disappointments</td>
                <td id="total_num_full_disappointments"></td>
              </tr>
              <tr>
                <td>Station Most Likely to Disappoint (when departing)</td>
                <td id="most_disappointing_dep_station"></td>
              </tr>
               <tr>
                <td>Station Most Likely to Disappoint (when arriving)</td>
                <td id="most_disappointing_arr_station"></td>
              </tr>
           </table>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns" id="min_duration_trip">
            <h5>Minimum Duration Trip</h5>
            <table>
              <tr>
                <td>Start Station</td>
                <td class="start_station_name"></td>
              </tr>
              <tr>
                <td>End Station</td>
                <td class="end_station_name"></td>              
              </tr>
              <tr>
                <td>Duration</td>
                <td class="duration"></td>
              </tr>
              <tr>
                <td>Trip Start Time</td>
                <td class="start_datetime"></td>
              </tr>
              <tr>
                <td>Trip End Time</td>
                <td class="end_datetime"></td>
              </tr>
            </table>
          </div>
          <div class="large-12 columns" id="max_duration_trip">
            <h5>Maximum Duration Trip</h5>
            <table>
              <tr>
                <td>Start Station</td>
                <td class="start_station_name"></td>
              </tr>
              <tr>
                <td>End Station</td>
                <td class="end_station_name"></td>              
              </tr>
              <tr>
                <td>Duration</td>
                <td class="duration"></td>
              </tr>
              <tr>
                <td>Trip Start Time</td>
                <td class="start_datetime"></td>
              </tr>
              <tr>
                <td>Trip End Time</td>
                <td class="end_datetime"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div id="num_departures_per_station">
            <h5>Number of Departures per Station</h5>
            <div style = "max-width:878px;"></div>
          </div>
        </div>

        <div class="row">
          <div id="num_arrivals_per_station">
            <h5>Number of Arrivals per Station</h5>
            <div style = "max-width:878px;"></div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns" id="num_trips_per_hour">
            <h5>Number of Trips per Hour</h5>
            <div></div>
          </div>
        </div>
      </div>

      <!-- Stats panel for side-by-side comparisons -->
      <div id="comp_stats_panel">
        <div class="row">
          <div class="large-12 columns" id="comp_overall_trip_stats">
            <h5>Overall Statistics</h5>
            <table>
              <tr>
                <td>Number of Trips Completed</td>
                <td id="comp_total_num_trips"></td>
              </tr>
              <tr>
                <td>Average Trip Time</td>
                <td id="comp_avg_trip_time"></td>
              </tr>
              <tr>
                <td>Standard Deviation of Trip Times</td>
                <td id="comp_std_trip_time"></td>
              </tr>
              <tr>
                <td>Arrival Prediction Accurracy: Manhattan Distance</td>
                <td id='comp_man_dist_score_arr'></td>
              </tr>
              <tr>
                <td>Departure Prediction Accuracy: Manhattan Distance</td>
                <td id='comp_man_dist_score_dep'></td>
              </tr>
              <tr>
                <td>Overall Prediction Accuracy: Euclidean Distance</td>
                <td id='comp_eucl_dist_score'></td>
              </tr>
            </table>
          </div>
          <div class="large-12 columns" id="comp_disappointment_stats">
            <h5>Disappointment Statistics</h5>
            <table>
              <tr>
                <td>Number of Disappointments</td>
                <td id="comp_total_num_disappointments"></td>
              </tr>
              <tr>
                <td>Total Empty Station Station Disappointments</td>
                <td id="comp_total_num_empty_disappointments"></td>
              </tr>
              <tr>
                <td>Total Full Station Disappointments</td>
                <td id="comp_total_num_full_disappointments"></td>
              </tr>
              <tr>
                <td>Station Most Likely to Disappoint (when departing)</td>
                <td id="comp_most_disappointing_dep_station"></td>
              </tr>
               <tr>
                <td>Station Most Likely to Disappoint (when arriving)</td>
                <td id="comp_most_disappointing_arr_station"></td>
              </tr>
           </table>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns" id="comp_min_duration_trip">
            <h5>Minimum Duration Trip</h5>
            <table>
              <tr>
                <td>Start Station</td>
                <td class="comp_start_station_name"></td>
              </tr>
              <tr>
                <td>End Station</td>
                <td class="comp_end_station_name"></td>              
              </tr>
              <tr>
                <td>Duration</td>
                <td class="comp_duration"></td>
              </tr>
              <tr>
                <td>Trip Start Time</td>
                <td class="comp_start_datetime"></td>
              </tr>
              <tr>
                <td>Trip End Time</td>
                <td class="comp_end_datetime"></td>
              </tr>
            </table>
          </div>
          <div class="large-12 columns" id="comp_max_duration_trip">
            <h5>Maximum Duration Trip</h5>
            <table>
              <tr>
                <td>Start Station</td>
                <td class="start_station_name"></td>
              </tr>
              <tr>
                <td>End Station</td>
                <td class="end_station_name"></td>              
              </tr>
              <tr>
                <td>Duration</td>
                <td class="duration"></td>
              </tr>
              <tr>
                <td>Trip Start Time</td>
                <td class="start_datetime"></td>
              </tr>
              <tr>
                <td>Trip End Time</td>
                <td class="end_datetime"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div id="num_departures_per_station">
            <h5>Number of Departures per Station</h5>
            <div style = "max-width:878px;"></div>
          </div>
        </div>

        <div class="row">
          <div id="num_arrivals_per_station">
            <h5>Number of Arrivals per Station</h5>
            <div style = "max-width:878px;"></div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns" id="num_trips_per_hour">
            <h5>Number of Trips per Hour</h5>
            <div></div>
          </div>
        </div>
      </div>


  </div>
</div>

<script src="/static/js/foundation.min.js"></script>

<script>
  $(document).foundation();
</script>

<div id="map_canvas"></div>

<div id="loading_div">
  <p id="loading_div_text">Simulation Time at <b id="current_time"></b></p>
  <div id="progressbar"><div class="progress-label">Loading...</div></div>
  <div id="error_alert" style="background-color: #c60f13; display:none;" data-alert class="alert-box warning">
    Simba ran into a problem and needs to restart. :(
    <a href="#" class="close">&times;</a>
  </div>

  <!-- <img id="loading"  src="/static/img/loading-gif-animation.gif" alt="loading" width=50px/> -->
</div>

<script type="text/javascript">
  function set_map_height() {
    var screen_height = window.innerHeight;
    var map_height = screen_height - 55;
    $("#content, #stats_wrapper").css("height",map_height);
  }

  function set_stats_panel_height() {
    var slider_height = $('#stats_slider').css('height');
    var panel_height = parseInt(slider_height,10) - 40;
    $("#stats_panel").css("height",panel_height);
  }

  var progressbar = $( "#progressbar" ),
  progressLabel = $( ".progress-label" );
  
  progressbar.progressbar({
    value: false,
    change: function() {
      progressLabel.text( progressbar.progressbar( "value" ) + "%" );
    },
    complete: function() {
      progressLabel.text( "Complete!" );
    }
  });
  
</script>

{% end %}

