@charset "UTF-8";
/* CSS Document */

#topbar-left-logo img {
    height: 45px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.left-overall-title {
    line-height: 1.5em;
    font-weight: bold;
}

footer {
    border-style: solid;
    border-width: 1px;
    border-color: #959595;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 330px;
    height: 20px;
    font-size: 12px;
    background-color: #ffffff;
    z-index: 99999;
    display: none;
}

footer p {
    text-align: center;
}

#content {
    height: 100%;
}

/*Style elements from unified.html*/

#map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#simulation_control,
#cluster_control {
  height: auto;
}

#cluster_by_txt {
	float: left;
	margin-right: 5px;
	vertical-align: middle;
	margin-top: 4px;
}

#control_form {
  overflow: hidden;
  float: left;
}

#from_div {
  width: 130px;
  float: left;
}

#to_div {
  width: 130px;
  height: auto;
  margin-left: 10px;
  float: left;
}

#clustering_method {
  float: left;
  margin-top: 15px;
  width: 100px;
}

#from_date,
#to_date {
  height: auto;
}

input[type="text"] {
  height: auto;
  font-size: 12px;
  position: relative;
  top: 12px;
}

form button[type="submit"] {
  margin-left: 10px;
  float: left;
  line-height: 8px;
  font-size: 12px;
  position: relative;
  top: 11px;
}

#stats_wrapper {
  position: absolute;
  right: 0px;
  top: 55px;
  width: 200%;
  height: 100%;
  overflow: hidden;
}

#stats_slider {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 999;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
}

#stats_button {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.slide_button {
  width: 14px;
  height: 14px;
  margin: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 100%;
  background-color: #595959;
}

#stats_panel {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 640px;
  height: 100%;
  overflow-y: auto;
}

#comp_stats_panel {
  display: none;
  width: 640px;
  height: 100%;
  position: absolute;
  top: 100px;
  right: 20px;
  overflow-y: auto;
}

#stats_name_div {
  margin-bottom: 15px;
}

#stats_name {
  color: #3987c7;
  margin-bottom: 0;
  float: left;
}

#stats_range {
  width: 100%;
  height: 20px;
  float: left;
  color: #3987c7;
}

#save_load_div {
  position: absolute;
  right: 40px;
  top: 15px;
  height: 30px;
  width: 330px;
  overflow: hidden;
}

#save_stats,
#load_stats, 
#comp_toggle {
  height: 100%;
  background-color: green;
  position: absolute;
}

#save_stats,
#load_stats {
  width: 100px;
}

#save_stats {
  left: 0px;
}

#load_stats {
  left: 105px;
}

#comp_toggle {
  right: 0px;
  width: 120px;
}

#stats_namer,
#stats_picker {
  height: 100%;
  width: 155px;
  position: absolute;
  left: -160px;
  top: 0px;
}

.chart {
  background: #b0e0f8;
  margin: 5px;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text {
  fill: white;
}

.chart text.name {
  fill: #000;
}

#num_departures_per_station {
  margin-top: 30px;
  width: 100%;
}

#num_departures_per_station div {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: inherit;
}

#num_arrivals_per_station {
  margin-top: 30px;
  width: 100%;
}

#num_arrivals_per_station div {
  height: 300px;
  width: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

#num_trips_per_hour {
  margin-top: 30px;
}

#num_trips_per_hour div {
  font: 10px sans-serif;
}

#num_trips_per_hour div
.axis path,
#num_trips_per_hour div
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#num_trips_per_hour .bar {
  fill: steelblue;
}

#num_trips_per_hour
.x.axis path {
  display: none;
}

#loading_div {
  width: 40%;
  display: none;
  position: fixed;
  left: 50%;
  top: 40%;
  margin: 0 0 0 -20%;
  background-color: #fff;
  padding: 20px;
  color: #222;
  box-shadow: 2px 2px 2px rgba(128,128,128,0.5);
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

#progressbar {
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
}

#error_alert {
  border: none;
  font-weight: normal;
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  text-align: center;
  top: 6px;
  width: 100%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.infoWindow_wrapper {
    overflow-y: hidden;
}

.infoWindow_id {
    font-size: 1.5em !important;
    margin-bottom: 0.2em;
}

.infoWindow_title {
    font-size: 1.1em !important;
    margin-bottom: 0.2em;
}

.infoWindow_capacity {
}

.infoWindow_capacity_label { 
}

#loading_div_text {
    margin-bottom: 0;
    font-size: 0.9em;
    font-style: italic;
}
