@charset "UTF-8";
/* CSS Document */

.left-overall-title {
    line-height: 1.5em;
    font-weight: bold;
}

footer {
    /*border-top-style: solid;
    border-left-style: solid;*/
    border-style: solid;
    border-width: 0px;
    border-color: #959595;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 270px;
    height: 20px;
    background-color: #ffffff;
}

footer p {
    text-align: center;
}

#content {
    height: 100%;
}

.full-screen-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#time-slider {
    z-index: 99999;
    width: 540px;
    position: absolute;
    left: 87px;
    top: 63px;
    padding-left: 0;
    padding-right: 0;
}

#trigger-button {
    line-height: 22px;
    margin-bottom: 0;
}

/*Style elements from unified.html*/

#map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#simulation_control {
  margin-top: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: rgba(125,125,125,0.7);
  padding: 10px;
  width: 360px;
  height: 55px;
}

#control_form {
  height: 100%;
}

#from_div {
  width: 130px;
  height: 100%;
  float: left;
}

#to_div {
  width: 130px;
  height: 100%;
  margin-left: 10px;
  float: left;
}

#from_date {
  height: 100%;
}

#to_date {
  height: 100%;
}

input[type="text"] {
  height: 100%;
  font-size: 12px;
}

form button[type="submit"] {
  margin-left: 10px;
  height: 100%;
  float: left;
  line-height: 8px;
  font-size: 12px;
}

#stats_wrapper {
  position: absolute;
  left: 0;
  top: 55px;
  width: 800px;
  height: 100%;
  overflow: hidden;
}

#stats_slider {
  width: 800px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
  border-right: 2px solid #eeeeee;
  z-index: 999;
  display: none;
  overflow-y: scroll;
}

#stats_button {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #959595;
}

#stats_panel {
  width: 100%;
  height: 100%;
  display: none;
}

#summary_stats_results h4 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  text-align: center
}

.chart {
  background: #b0e0f8;
  margin: 5px;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text {
  fill: white;
}

.chart text.name {
  fill: #000;
}

#num_departures_per_station {
  margin-top: 30px;
}

#num_departures_per_station div {
  height: 300px;
  overflow:scroll;
}

#num_arrivals_per_station {
  margin-top: 30px;
}

#num_arrivals_per_station div {
  height: 300px;
  overflow:scroll;
}

#num_trips_per_hour {
  margin-top: 30px;
}

#num_trips_per_hour div {
  font: 10px sans-serif;
}

#num_trips_per_hour div
.axis path,
#num_trips_per_hour div
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#num_trips_per_hour .bar {
  fill: steelblue;
}

#num_trips_per_hour
.x.axis path {
  display: none;
}

#loading_div {
  width: 40%;
  height: 40%;
  display: none;
  position: fixed;
  left: 50%;
  margin: -35% 0 0 -20%;
  border-style: solid;
  border-color: blue;
  background-color: rgba(0,0,0,.8);
}

#loading {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

#overall_trip_stats {
  float: left;
  width: 36%;
}

#min_duration_trip {
  float: left;
  width: 32%;
  padding-left: 20px;
}

#max_duration_trip {
  float: right;
  width: 32%;
  padding-left: 20px;
}
